// Loader
@keyframes l10 {
	100% {
		background-position: -20px 0, 20px 0
	}
}

// Home-hero
@keyframes moveDot {

	0%,
	100% {
		top: 10%;
		right: 10%;
	}

	25% {
		top: 10%;
		right: calc(100% - 35px);
	}

	50% {
		top: calc(100% - 30px);
		right: calc(100% - 35px);
	}

	75% {
		top: calc(100% - 30px);
		right: 10%;
	}
}

@keyframes fall {
	0% {
		top: -150px;
		opacity: 0;
		scale: 1;
	}
	30% {
		opacity: 0.5;
	}
	100% {
		top: 100%;
		opacity: 0;
		scale: 0.2;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg) translateX(0);
	}
	50% {
		transform: rotate(180deg) translateX(-40px);
	}
	100% {
		transform: rotate(360deg) translateX(0);
	}
}
