@font-face {
    font-family: 'Serifa Std 55 Roman';
    src: url('../../fonts/SerifaStd-Roman.eot');
    src: url('../../fonts/SerifaStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SerifaStd-Roman.woff2') format('woff2'),
        url('../../fonts/SerifaStd-Roman.woff') format('woff'),
        url('../../fonts/SerifaStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Serifa Std 45';
    src: url('../../fonts/SerifaStd-Bold.eot');
    src: url('../../fonts/SerifaStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SerifaStd-Bold.woff2') format('woff2'),
        url('../../fonts/SerifaStd-Bold.woff') format('woff'),
        url('../../fonts/SerifaStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Serifa Std 45';
    src: url('../../fonts/SerifaStd-Light.eot');
    src: url('../../fonts/SerifaStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SerifaStd-Light.woff2') format('woff2'),
        url('../../fonts/SerifaStd-Light.woff') format('woff'),
        url('../../fonts/SerifaStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../../fonts/Axiforma-ExtraBold.eot');
    src: url('../../fonts/Axiforma-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Axiforma-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Axiforma-ExtraBold.woff') format('woff'),
        url('../../fonts/Axiforma-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma';
    src: url('../../fonts/Axiforma-Bold.eot');
    src: url('../../fonts/Axiforma-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Axiforma-Bold.woff2') format('woff2'),
        url('../../fonts/Axiforma-Bold.woff') format('woff'),
        url('../../fonts/Axiforma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

