@mixin button() {
	font-family: $ff-title;
	font-weight: $fw-bold;
	line-height: $lh;
	padding: 8px 16px;
	font-size: 16px;
	border-radius: $br10;
	text-transform: uppercase;
	box-shadow: $bs-main;
	transition: box-shadow ease $tr, transform ease $tr,
		background-color ease $tr, color ease $tr;

	&:hover {
		box-shadow: $bs-active;
	}

	&:active {
		transform: translateY(2px);
	}

	@media(min-width: $xl) {
		font-size: 14px;
	}

	@media(min-width: $xxl) {
		font-size: 16px;
	}
}