@mixin button() {
	font-family: $ff-h1;
	font-weight: $fw-bold;
	line-height: $lh;
	padding: 8px 16px;
	font-size: 16px;
	border-radius: $br10;
	text-transform: uppercase;
	box-shadow: $bs-main;
	transition: box-shadow ease $tr,
		background-color ease $tr, color ease $tr;

	&:hover {
		box-shadow: $bs-hover;
	}

	&:active {
		box-shadow: $bs-active;
	}

	@media(min-width: $md) {
		font-size: 18px;
	}

	@media(min-width: $xxl) {
		font-size: 20px;
	}
}

@mixin sectionPadding {
	padding: 30px 0;

	@media(min-width: $md) {
		padding: 60px 0;
	}

	@media(min-width: $xl) {
		padding: 90px 0;
	}
}

// Texts
@mixin text-main() {
	font-family: $ff-title;
	font-weight: $fw-regular;
	font-size: 16px;
	line-height: $lh-text;
	color: $black-rich;

	@media(min-width: $md) {
		font-size: 20px;
	}

	@media(min-width: $xl) {
		font-size: 24px;
	}
}

@mixin text-sm() {
	font-family: $ff-title;
	font-weight: $fw-regular;
	font-size: 14px;
	line-height: $lh-text;
	color: $black-rich;

	@media(min-width: $md) {
		font-size: 18px;
	}

	@media(min-width: $xl) {
		font-size: 20px;
	}
}