h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $ff-title;
	font-weight: $fw-bold;
	line-height: $lh;
	margin: 0;
}

h1,
.h1 {
	font-family: $ff-h1;
	font-weight: $fw-bold;
	line-height: $lh;
	margin: 0;
	font-size: 24px;
	color: $black-rich;
	text-transform: uppercase;

	@media (min-width: $md) {
		font-size: 32px;
	}

	@media (min-width: $xxl) {
		font-size: 40px;
	}

	@media (min-width: 1600px) {
		font-size: 50px;
	}
}

h2,
.h2 {
	display: inline-block;
	font-size: 32px;
	color: $black;
	text-align: left;
	position: relative;
	overflow: hidden;

	span {
		display: inline-block;
		position: relative;
		animation: flyingChars 4s ease-in-out infinite;

		&:nth-child(odd) {
			animation-delay: 0.2s;
		}

		&:nth-child(even) {
			animation-delay: 0.5s;
		}

		&::before {
			content: attr(data-text);
			position: absolute;
			top: -10%;
			left: 0;
			color: $black;
			filter: blur(3px);
			opacity: 0;
			transition: opacity $tr ease-in-out, filter ease $tr;
		}
	}

	&:hover {
		color: transparent;

		span {
			&::before {
				content: attr(data-text);
				position: absolute;
				top: -10%;
				left: 0;
				color: $black;
				filter: blur(3px);
				opacity: 0.3;
				transition: opacity 0.3s ease-in-out, filter ease $tr;
			}
		}
	}

	@media (min-width: $md) {
		font-size: 60px;
	}

	@media (min-width: $xxl) {
		font-size: 72px;
		text-transform: uppercase;
	}
}

h3,
.h3 {
	font-size: 32px;
	color: $black;
	text-transform: uppercase;
}

h4,
.h4 {
	font-size: $fs-xl;

	@media (min-width: $lg) {
		font-size: 24px
	}
}

h5,
.h5 {
	font-size: $fs-xl;
	text-transform: uppercase;
	margin-bottom: 24px;

	@media (min-width: $lg) {
		margin-bottom: 36px;
	}
}

h6,
.h6 {
	font-size: $fs-lg
}

a {
	display: inline-block;
	text-decoration: underline;
	transition: color ease-out $tr;

	&:hover {
		text-decoration: none
	}
}

p {
	padding: 0;
	margin: 0;
	line-height: $lh-text;
}

b,
strong {
	font-weight: $fw-bold
}