// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1540px;

// Container padding.
$container-padding: 20px;

// Font families.
$ff			: 'Serifa Std 55 Roman', sans-serif;
$ff-title	: 'Axiforma', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-thin	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-bold	: 700;

// Line heights.
$lh			: 1.2;

// Colors.
$white		: #FBFEF9;
$white-ghost: #f3f3f3;
$black	 	: #000000;
$black-rich	: #001514;
$green		: #306B34;
$l-green    : #F4FFF8;
$orange		: #F9854B;
$red		: #93032E;

// Box-shadow
$bs-low: rgba(17, 17, 26, 0.1) 0px 1px 0px;
$bs-main:  -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
$bs-active:	-2px -2px 6px rgba(255,255,255,0.45), 2px 2px 6px rgba(94,104,121,0.3);

// Others.
$tr: 0.25s;
$op: 0.7;
$br10: 10px;