// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1540px;

// Container padding.
$container-padding: 20px;

// Font families.
$ff    : 'Titillium Web', sans-serif;
$ff-h1 : 'Rajdhani', sans-serif;
$ff-title : 'Play', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-thin	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-bold	: 700;

// Line heights.
$lh			: 1;
$lh-text	: 1.2;

// Colors.
$white		: #FBFEF9;
$white-ghost: #f3f3f3;
$black	 	: #000000;
$black-rich	: #1d1d1d;
$green		: #0B6D44;
$l-green    : #F4FFF8;
$orange		: #F9854B;
$red		: #93032E;

// Box-shadow
$bs-hover: rgba(0, 0, 0, 0.4) 0px 1px 3px, rgba(0, 0, 0, 0.3) 0px 4px 10px -2px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
$bs-main: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$bs-active:rgba(0, 0, 0, 0.4) -1px -1px 1px, rgba(0, 0, 0, 0.5) 0px 4px 6px -8px, rgba(0, 0, 0, 0.1) 0px -1px 2px inset;

// Others.
$tr: 0.25s;
$op: 0.7;
$br10: 10px;