@import '../../../../scss/common/mixins.scss';

.wallet-button-wrapper {
	display: flex;
	align-items: center;
}

.wallet-button-inner {
	display: flex;
	align-items: center;
	gap: 16px;
	
	.address {
		display: flex;
		align-items: center;
		gap: 4px;
		transition: opacity ease $tr;
		cursor: pointer;

		&:hover {
			opacity: $op;
		}

		@media(min-width: $xl) {
			svg {
				display: none;
			}
		}

		@media(min-width: $xxl) {
			svg {
				display: block;
			}
		}
	}

	.address, .balance {
		font-size: 14px
	}

	@media(min-width: $xl) {
		gap: 8px;
	}

	@media(min-width: $xxl) {
		gap: 16px;
	}
}

.wallet-button {
	background-color: $white;
	color: $black-rich;
	gap: 10px;
	position: relative;

	@include button();

	&:disabled {
		cursor: not-allowed;
	}
}

.disconnect-button {
	background-color: $red;
	border-radius: $br10;
	color: $white;
	border-color: $red;
	@include button();

	&:hover {
		background-color: #d6070a;
		border-color: #d6070a;

	}

	&:active {
		background-color: #8f0608;
		border-color: #8f0608;
	}
}

.user-button {
	position: absolute;
	left: 132px;
	top: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	gap: 8px;
	color: $black;
	box-shadow: $bs-main;
	padding: 8px 16px;
	background-color: $white;
	border-radius: $br10;
	transition: box-shadow ease $tr;

	svg {
		display: none;
	}

	&::after {
		content: 'Account';
		font-family: $ff-title;
		font-weight: $fw-bold;
		font-size: 16px;
		text-transform: uppercase;
	}

	@media(min-width: $xl) {
		width: 35px;
		height: 35px;
		position: static;
		left: auto;
		top: auto;
		padding: 4px;

		&::after {
			display: none;
		}

		svg {
			display: flex;
		}
	}

	&:hover {
		box-shadow: $bs-hover;
	}
}