@import '../../../../scss/common/mixins.scss';

.about-us {
	clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%); 
	background-color: $l-green;
	@include sectionPadding();

	@media(min-width: $md) {
		clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%); 
	}


	h2 {
		color: $white-ghost;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;

		@media(min-width: $lg) {
			flex-direction: row;
			gap: 80px;
		}

		@media(min-width: $xl) {
			gap: 100px;
		}

		@media(min-width: $xxl) {
			gap: 150px;
		}
	}

	&-left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		gap: 30px;

		@media(min-width: $lg) {
			width: 50%;
		}

		p {
			color: $white;
			@include text-main();

			& {
				color: $white;
			}
		}

		a {
			background-color: $white;
			color: $black-rich;
		}
	}

	&-right {
		width: 70%;

		@media(min-width: $lg) {
			width: calc(50% - 150px);
		}
	}	
}