.link-border {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	border-radius: $br10;
	background-color: $white;
	text-transform: uppercase;
	font-family: $ff-title;
	font-weight: $fw-bold;
	color: $black;
	box-shadow:  $bs-main;
	transition: box-shadow ease $tr;

	@media(min-width: $xl) {
		font-size: 14px;
	}

	@media(min-width: $xxl) {
		font-size: 16px;
	}

	&:hover {
		box-shadow: $bs-active;
	}
}